header
    .navigation-wrapper
        .container-fluid
            nav.navbar
                ul#main-nav.nav.navbar-nav
                    //li.item-menu
<<<<<<< HEAD
                    //git    img(src="/static/media/thisEvent.png" href="/" class="logothisevent")
=======
                    //    img(src="/static/media/thisEvent.png" href="/" class="logothisevent")
                    li.menu-item
                       a(href="/") 
                            img.className#IdName(src="/static/media/thisEvent.png" alt="This Event" style="width:50px")
>>>>>>> 13344b8ed70dd6d9a550948160bb049bec42c6eb
                    li.menu-item.hvr-underline-from-center
                        a(href="/") Accueil
                    li.menu-item.hvr-underline-from-center
                        a(href="/events") Evenements
                    li.menu-item.hvr-underline-from-center
                        a(href="/events/create") Créer Un Evènement
                    li.menu-item.hvr-underline-from-center
                        a(href="/contact") Contacter Nous
            block userSection