extends _header-user

block adminSection
    div.item( data-toggle="tooltip" title="Approver des nouveau évenements" data-placement="bottom")
        a(href="/approvals")
            i(class="fa fa-star fa-fw")