header
    .navigation-wrapper
        .container-fluid
            nav.navbar
                ul#main-nav.nav.navbar-nav
                    //li.item-menu
                    //    img(src="/static/media/thisEvent.png" href="/" class="logothisevent")
                    li.menu-item.hvr-underline-from-center
                        a(href="/") Accueil
                    li.menu-item.hvr-underline-from-center
                        a(href="/events") Evenements
                    li.menu-item.hvr-underline-from-center
                        a(href="/events/create") Créer Un Evènement
                    li.menu-item.hvr-underline-from-center
                        a(href="/contact") Contacter Nous
            block userSection