extends _layout

block app-title
    | ThisEvent

block vars
   - var bodyClass = 'home';

block content
    #homepage-cover
        #homepage-cover-captions.vertical-center
            .container
                div
                    h2#hp-caption-title.caption-big THISEVENT
                p#hp-caption-subtitle savoir plus sur les nouveaux événements sociaux près de vous et vous abonner facilement ...
                div#hp-caption-buttons.buttons
                    a.btn.btn-green(href="/events") Découvrir
                    if !user
                        a.btn.btn-white(href="/login") Connecter ou Créer un Compte